In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/content/Student_performance_10k.csv")
print(df.head())
print(df.info())

  roll_no gender race_ethnicity parental_level_of_education  lunch  \
0  std-01   male        group D                some college    1.0
1  std-02   male        group B                 high school    1.0
2  std-03   male        group C             master's degree    1.0
3  std-04   male        group D                some college    1.0
4  std-05   male        group C                some college    0.0

   test_preparation_course math_score  reading_score  writing_score  \
0                      1.0         89           38.0           85.0
1                      0.0         65          100.0           67.0
2                      0.0         10           99.0           97.0
3                      1.0         22           51.0           41.0
4                      1.0         26           58.0           64.0

   science_score  total_score grade
0           26.0        238.0     C
1           96.0        328.0     A
2           58.0        264.0     B
3           84.0        198.0     D
4           65.0        213.0     C
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   roll_no                      9999 non-null   object
 1   gender                       9982 non-null   object
 2   race_ethnicity               9977 non-null   object
 3   parental_level_of_education  9978 non-null   object
 4   lunch                        9976 non-null   float64
 5   test_preparation_course      9977 non-null   float64
 6   math_score                   9976 non-null   object
 7   reading_score                9975 non-null   float64
 8   writing_score                9976 non-null   float64
 9   science_score                9977 non-null   float64
 10  total_score                  9981 non-null   float64
 11  grade                        9997 non-null   object
dtypes: float64(6), object(6)
memory usage: 937.6+ KB
None

In [15]:
# Check missing values
print(df.isnull().sum())

roll_no                         1
gender                          0
race_ethnicity                 23
parental_level_of_education    22
lunch                          24
test_preparation_course        23
math_score                      0
reading_score                   0
writing_score                   0
science_score                  23
total_score                    19
grade                           3
dtype: int64

In [6]:
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(r'\s+', '_', regex=True))

In [7]:
# 2) Coerce score columns to numeric (turn bad strings into NaN)
score_cols = ['math_score', 'reading_score', 'writing_score']
for c in score_cols:
    if c in df.columns:
        # remove common non-numeric junk then convert
        s = (df[c].astype(str)
                    .str.replace(',', '', regex=False)
                    .str.replace('%', '', regex=False))
        df[c] = pd.to_numeric(s, errors='coerce')

In [8]:
if 'math_score' in df.columns:
    df['math_score'] = df['math_score'].fillna(df['math_score'].mean())

In [9]:
for c in score_cols:
    if c in df.columns:
        df[c] = df[c].fillna(df[c].mean())

In [10]:
# Fill categorical with mode
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])

In [11]:
print(df.columns)

Index(['roll_no', 'gender', 'race_ethnicity', 'parental_level_of_education',
       'lunch', 'test_preparation_course', 'math_score', 'reading_score',
       'writing_score', 'science_score', 'total_score', 'grade'],
      dtype='object')

In [12]:
print(df.isnull().sum())

roll_no                         1
gender                          0
race_ethnicity                 23
parental_level_of_education    22
lunch                          24
test_preparation_course        23
math_score                      0
reading_score                   0
writing_score                   0
science_score                  23
total_score                    19
grade                           3
dtype: int64

In [14]:
print(df[['math_score','reading_score','writing_score']].describe())

         math_score  reading_score  writing_score
count  10000.000000   10000.000000   10000.000000
mean      57.178747      70.125915      71.415798
std       21.720060      19.002444      18.223450
min        0.000000      17.000000      10.000000
25%       41.000000      57.000000      59.000000
50%       58.000000      71.000000      72.000000
75%       73.000000      85.000000      85.000000
max      100.000000     100.000000     100.000000